@font-face {
  font-family: "iconfont"; /* Project id 5007568 */
  src: url('iconfont.woff2?t=1757299677918') format('woff2'),
       url('iconfont.woff?t=1757299677918') format('woff'),
       url('iconfont.ttf?t=1757299677918') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diannao2:before {
  content: "\e625";
}

.icon-miyue:before {
  content: "\e674";
}

.icon-yonghu:before {
  content: "\e6666";
}

.icon-liantong:before {
  content: "\e65e";
}

.icon-lishibanben:before {
  content: "\e6d2";
}

.icon-shichangtongji:before {
  content: "\e608";
}

.icon-bianhao1:before {
  content: "\e611";
}

.icon-zhizaoshang1:before {
  content: "\e629";
}

.icon-chanpin:before {
  content: "\e601";
}

.icon-tubiao_biaoqian:before {
  content: "\e62a";
}

.icon-yunhangshichang:before {
  content: "\e631";
}

.icon-zhizaoshang:before {
  content: "\e668";
}

.icon-bianhao:before {
  content: "\e64e";
}

.icon-zichanbiaoqian:before {
  content: "\e9ff";
}

.icon-fuwuqi:before {
  content: "\e6a4";
}

.icon-cunchu:before {
  content: "\e602";
}

.icon-yingjianxinxi:before {
  content: "\e6dc";
}

.icon-wenzi-F:before {
  content: "\e616";
}

.icon-name:before {
  content: "\e6b4";
}

.icon-04:before {
  content: "\e610";
}

.icon-neicun:before {
  content: "\e68e";
}

.icon-guazaidian:before {
  content: "\e7df";
}

.icon-xiangmuleixing:before {
  content: "\e65b";
}

.icon-fenqu:before {
  content: "\e604";
}

.icon-guazai:before {
  content: "\e689";
}

.icon-shebeileixing:before {
  content: "\e62e";
}

.icon-DMAfenqu:before {
  content: "\e612";
}

.icon-shebeileixing1:before {
  content: "\e68b";
}

.icon-a-appicon_16_database:before {
  content: "\e665";
}

.icon-wenjiangui_file-cabinet:before {
  content: "\e61b";
}

.icon-zhuji:before {
  content: "\e6b7";
}

.icon-fenqu1:before {
  content: "\11ca1";
}

.icon-cunchudaxiao:before {
  content: "\e63b";
}

.icon-guazai1:before {
  content: "\e605";
}

.icon-wenjianxitongfangwen:before {
  content: "\e828";
}

.icon-cunchudaxiao1:before {
  content: "\e726";
}

.icon-mingcheng:before {
  content: "\e600";
}

