[Unit]
Description=WebSSH
After=network.target

[Service]
Type=simple
User=cucockpit
Group=cucockpit
WorkingDirectory=/opt/chinaunicom/osmanager
EnvironmentFile=/opt/chinaunicom/osmanager/os.env
ExecStart=/opt/chinaunicom/osmanager/start_webssh.sh
Restart=always
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

